.idea
.DS_Store
.Trashes
Thumbs.db
/cgi-bin/
/awstats/
/webstat/
/bitrix/*
!/bitrix/components/
/bitrix/components/bitrix/*
!/bitrix/templates/
/upload/
/urlrewrite.php
/.htaccess
/.htpasswd
/.htsecure
/robots.txt
*.log
*.sql
*.txt
*.xml
*.dt
*.log